.body__main__seccion2--carrito {
  grid-area: seccion2;
  min-width: 100%;
  border-radius: 50px;
  margin-bottom: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px $color-fondo-secundario;
  border-radius: 103px;
  &--p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: $color_blanco;
    text-shadow: $estilo-text-shadow;
    margin: 50px;
  }
}
@media (min-width: 1024px) {
  .body__main__seccion2--carrito--p {
    font-size: 32px;
  }
  .body__main__seccion2--carrito--img {
    animation-name: carrito;
    animation-duration: 3s;
    /* animation-delay: 2s; */
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    @keyframes carrito {
      0% {
        left: 0px;
      }
      /*  10% {
        left: 100px;
      } */
      30% {
        left: 200px;
      }
      50% {
        left: 300px;
      }
      70% {
        right: 200px;
      }
      /*     90% {
        right: 100px;
      } */
      100% {
        right: 0px;
      }
    }
  }
}
