.body__main__seccion2--contacto {
  grid-area: seccion2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;

  &--article {
    background-color: $color-fondo-secundario;
    max-width: 400px;
    width: 100%;
    box-shadow: $estilo-box-shadow;
    justify-self: center;

    &--formulario {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr) 4fr repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 10px;
      justify-items: center;
      margin: 20px;

      &--input {
        min-width: 100%;
        border-radius: 10%;
        text-align: center;
        color: $color-letra-productos;
        &:focus {
          background-color: aquamarine;
        }
      }

      &--botones {
        min-width: 50%;
        border-radius: 10%;
        color: $color-letra-productos;
        padding: 5%;
        &:hover {
          background-color: $color-fondo-principal;
          color: white;
          transition: 1s;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .body__main__seccion2--contacto {
    grid-area: seccion2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
  }
}
