$color-fondo-principal: #a0846e;
$color-fondo-secundario: #e3d2ca;
$color_blanco: #ffffff;
$color-letra-productos: #a0846e;
$estilo-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
$estilo-text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
